*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

.color-nombre{
    color: rgb(32, 110, 182);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.botton {
    
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(32, 110, 182);
}

.botton:hover {
    background-color: rgb(49, 111, 153);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin:0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(32, 110, 182);
    font-size: 1.45em;
}

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:25px;
}
header .prueba{
    padding: 5px 12px;
}

header a{
    text-decoration: none;
    color:black;
}

header a:hover{
    color: rgb(32, 110, 182);
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#inicio h1{
    color:white;
}

#nosotros .container{
    text-align: center;
    padding: 200px 12px;
}

  .desc {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

#juegos-de-dados{
    background-color: rgb(30, 30, 30);
    color: white; 
    text-align: center;
}

#juegos-de-dados .container{
    padding: 150px 12px;
}

#juegos-de-dados h2{
    margin-top:0;
    font-size: 3.2em;
}

#juegos-de-dados .precio1{
    display: block;
}

#juegos-de-dados .precio2{
    display: block;
}

#juegos-de-dados p{
    display: none;
}

.carta1:first-child{
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/ludo.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

}

.carta2:nth-child(2){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/backgammon.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta3:nth-child(3){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/monopoly.png");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#juegos-de-fichas{
    color: white; 
    text-align: center;
}

#juegos-de-fichas .container{
    padding: 150px 12px;
}

#juegos-de-fichas h2{
    margin-top:0;
    font-size: 3.2em;
}

#juegos-de-fichas p{
    display: none;
}

.carta4:first-child{
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/domino.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

}

.carta5:nth-child(2){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/ajedrez.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta6:nth-child(3){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/damas.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}



#juegos-de-cartas{
    background-color: rgb(30, 30, 30);
    color: white; 
    text-align: center;
}

#juegos-de-cartas .container{
    padding: 150px 12px;
}

#juegos-de-cartas h2{
    margin-top:0;
    font-size: 3.2em;
}

#juegos-de-cartas p{
    display: none;
}

.carta7:first-child{
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/francesa.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

}

.carta8:nth-child(2){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/espanola.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta9:nth-child(3){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/magic.jpeg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}


#rompecabezas{
    text-align: center;
}

#rompecabezas .container{
    padding: 150px 12px;
}

#rompecabezas h2{
    margin-top:0;
    font-size: 3.2em;
}

#rompecabezas h3{
    color: white;
}

#rompecabezas p{
    color: white; 
    display: none;
}

.carta10:first-child{
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/100.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

}

.carta11:nth-child(2){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/500.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta12:nth-child(3){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../../public/img/1000.jpg");
    background-position: center;
    background-size:cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin:0;
    color: rgb(100, 100, 100)
}

footer .container{
    display: flex;
    justify-content: center;
    padding: 25px 12px;
}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #inicio h1{
        font-size: 5em;
    }

    #nosotros .container{
       display: flex;
       justify-content: space-evenly;
    }

    #nosotros .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left:30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nosotros h2{
        margin-top: 0px;
    }

    #nosotros .img-container{
        background-image: 
        linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),url("../../public/img/equipo.png");
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 400px;

    }
    
    #juegos-de-dados .productos1{
        display: flex;
        justify-content: center;
    }

    #juegos-de-dados .precio1{
        display: block;
    }

    #juegos-de-dados p{
        display: block;
        margin-bottom: 30px;
    }

    #juegos-de-dados  h2{
        font-size: 4em;
    }

    #juegos-de-dados h3{
        margin-top: 0;
    }

   
    .carta1:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/ludo.jpg");

    }

    .carta2:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/backgammon.jpg");
    }

    .carta3:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/monopoly.png");

    }


    #juegos-de-fichas .productos2{
        display: flex;
        justify-content: center;
    }

    #juegos-de-fichas p{
        display: block;
        margin-bottom: 30px;
    }

    #juegos-de-fichas  h2{
        font-size: 4em;
    }

    #juegos-de-fichas h3{
        margin-top: 0;
    }

   
    .carta4:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/domino.jpg");

    }

    .carta5:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/ajedrez.jpg");
    }

    .carta6:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/damas.jpg");

    }

    #juegos-de-cartas .productos3{
        display: flex;
        justify-content: center;
    }

    #juegos-de-cartas p{
        display: block;
        margin-bottom: 30px;
    }

    #juegos-de-cartas  h2{
        font-size: 4em;
    }

    #juegos-de-cartas h3{
        margin-top: 0;
    }

   
    .carta7:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/francesa.jpg");

    }

    .carta8:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/espanola.jpg");
    }

    .carta9:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/magic.jpeg");

    }

    #rompecabezas .productos4{
        display: flex;
        justify-content: center;
    }

    #rompecabezas h3{
      color: white;
    }

    #rompecabezas p{
        display: block;
        color: white; 
        margin-bottom: 30px;
    }

    #rompecabezas h2{
        font-size: 4em;
    }

    #rompecabezas h3{
        margin-top: 0;
    }

   
    .carta10:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/100.jpg");

    }

    .carta11:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/500.jpg");
    }

    .carta12:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../../public/img/1000.jpg");

    }






}

